@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    background-color: #111;
    font-family: 'D2Coding', 'sans-serif';
  }

  svg {
    @apply transition-all duration-500 ease-in-out;
  }

  main {
    width: 100%;
    min-height: 100vh;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }
}

@layer components {
  header.scrolled {
    @apply text-grayscaleA;

    &::after {
      height: 100%;
      /* border-radius: 0 0 0.5rem 0.5rem; */
    }

    svg {
      @apply fill-grayscaleA;
    }
  }

  nav.open {
    @apply top-0;
  }

  #modal > section.open {
    @apply w-full h-full;
  }

  .tab.selected {
    @apply bg-grayscaleG text-grayscaleB;
  }

  .btn-top.scrolled {
    @apply opacity-100 translate-y-0;
  }

  .btn-default {
    @apply w-20 h-10 border-2 border-grayscaleB rounded-lg tracking-tighter text-sm opacity-80 hover:opacity-100 active:opacity-100 lg:w-24 lg:text-base;
  }

  .btn-primary {
    @apply w-40 h-16 bg-grayscaleB text-grayscaleG text-2xl;
  }

  .input-group {
    @apply relative flex flex-col gap-3;

    .info-text {
      @apply flex items-center gap-2 text-xs lg:text-base before:content-[''] before:inline-block before:w-4 before:h-4 before:bg-[url('/images/common/icon_info.png')] before:bg-cover before:bg-center before:bg-no-repeat;
    }

    .btn-password-viewer {
      @apply absolute top-2 right-0 w-10 h-10 text-[1px] text-grayscaleG/0 bg-[url('/images/account/icon_view.png')] bg-cover bg-no-repeat bg-center;

      &.active {
        @apply bg-[url('/images/account/icon_hidden.png')];
      }
    }

    .floating {
      @apply absolute top-2 right-0;
    }

    .certification-area {
      @apply flex items-center gap-2 lg:gap-4;

      span {
        @apply text-primary;
      }
    }

    .input {
      @apply w-full py-4 pr-20 border-b-2 border-grayscaleB appearance-none lg:pr-40;

      &.error {
        @apply border-primary;
      }

      &.done {
        @apply border-secondary;
      }

      &::placeholder {
        @apply text-xs lg:text-base;
      }
    }
  }

  .checkbox-wrap {
    @apply flex gap-2 tracking-tighter;
  }

  .signin {
    .floating {
      @apply hidden;
    }
  }
}

@layer utilities {
  .hero-swiper.swiper-horizontal {
    .swiper-pagination-progressbar {
      @apply w-auto top-auto left-[60px] bottom-[60px] right-0 bg-grayscaleG/0 border-b border-solid border-grayscaleG;
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      @apply bg-grayscaleG;
    }
  }

  .main-swiper {
    .swiper-button-prev,
    .swiper-button-next {
      @apply w-10 h-10 bg-cover after:hidden;
    }

    .swiper-button-prev {
      @apply bg-[url('/images/common/icon_arrow_left.png')];
    }

    .swiper-button-next {
      @apply bg-[url('/images/common/icon_arrow_right.png')];
    }
  }
}
