@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 사용자 정의 재사용 클래스 패턴
 * @layer 안의 @apply로 Tailwind CSS 클래스 여럿을 묶어서 선언하여 아무 곳에서나 쓸 수 있습니다.
 * 샘플 버튼의 경우는 Button 컴포넌트의 공통 스타일링 예시이며, <Button className="btn-default" />만으로 여러 클래스를 처리합니다.
 */

@layer base {
  html,
  body {
    background-color: #111;
    font-family: 'Nanum Gothic Coding', 'sans-serif';
  }

  svg {
    @apply transition-all duration-500 ease-in-out;
  }

  main {
    width: 100%;
    min-height: 100vh;
  }

  .a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }
}

@layer components {
  header.scrolled {
    /* @apply bg-grayscaleG text-grayscaleA; */
    @apply text-grayscaleA;

    &::after {
      height: 100%;
    }

    svg {
      @apply fill-grayscaleA;
    }
  }

  nav.open {
    @apply top-0;
  }

  .tab.selected {
    @apply bg-grayscaleG text-grayscaleB;
  }

  .btn-top.scrolled {
    @apply opacity-100 translate-y-0;
  }

  .btn-default {
    @apply py-2 px-4  w-full text-[20px] h-[60px] font-bold tracking-[6px] rounded-lg cursor-pointer lg:h-[90px] lg:text-[30px] lg:py-3 lg:px-6;
  }
}
