@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html,
  body {
    background-color: #111;
    font-family: 'D2Coding', 'sans-serif';
  }

  svg {
    @apply transition-all duration-500 ease-in-out;
  }

  main {
    width: 100%;
    min-height: 100vh;
  }

  .a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }
}

@layer components {
  header.scrolled {
    @apply text-grayscaleA;

    &::after {
      height: 100%;
      /* border-radius: 0 0 0.5rem 0.5rem; */
    }

    svg {
      @apply fill-grayscaleA;
    }
  }

  nav.open {
    @apply top-0;
  }

  #modal > section.open {
    @apply w-full h-full;
  }

  .tab.selected {
    @apply bg-grayscaleG text-grayscaleB;
  }

  .btn-top.scrolled {
    @apply opacity-100 translate-y-0;
  }

  .btn-default {
    @apply py-2 px-4  w-full text-[20px] h-[60px] font-bold tracking-[6px] rounded-lg cursor-pointer lg:h-[90px] lg:text-[30px] lg:py-3 lg:px-6;
  }
}

@layer utilities {
  .hero-swiper.swiper-horizontal {
    .swiper-pagination-progressbar {
      @apply w-auto top-auto left-[60px] bottom-[60px] right-0 bg-grayscaleG/0 border-b border-solid border-grayscaleG;
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      @apply bg-grayscaleG;
    }
  }

  .main-swiper {
    .swiper-button-prev,
    .swiper-button-next {
      @apply w-10 h-10 bg-cover after:hidden;
    }

    .swiper-button-prev {
      @apply bg-[url('/images/common/icon_arrow_left.png')];
    }

    .swiper-button-next {
      @apply bg-[url('/images/common/icon_arrow_right.png')];
    }
  }
}
